@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Oswald:wght@300&display=swap");

.itsme_label {
  font-family: "Paytone One", sans-serif;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 990px;
}

.itsme_body {
  text-align: center;
  margin-top: 850px;
}

.marquee_box {
  top: 900px;
  background-color: transparent;
}

.itsme_container {
  background-color: bisque;
}
