@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.itsme_label {
  font-family: "Paytone One", sans-serif;
  font-size: 38px;
  font-weight: 200;
  text-align: center;
  position: relative;
  top: 1450px;
}
.itsme_info {
  margin-bottom: 390px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  top: 315px;
}

.itsme_accordion_label {
  font-family: "Black Han Sans", sans-serif;
  border: 0px;
  background-color: #bfc2f2;
  color: #272727;
  padding: 0px;
}

.itsme_accordion_header {
  background-color: #bfc2f2;
  margin: 0px;
  padding: 8px;
}

.itsme_accordion_body {
  font-family: "Open Sans", sans-serif;
  font-size: large;
  border-top: 3px solid black;
  padding: 40px;
}

.itsme_body {
  text-align: center;
  margin-top: 750px;
}

.marquee_box {
  top: 900px;
  background-color: transparent;
}

.itsme_container {
  background-color: #ffffff;
  padding-bottom: 40px;
}

.view_description {
  position: absolute;
  z-index: 10;
  font-family: "Paytone One", sans-serif;
  color: black;
  opacity: 70%;
  font-size: 13px;
  right: 2%;
  top: 920px;
}
