@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Oswald:wght@300&display=swap");

.linked_label {
  font-family: "Paytone One", sans-serif;
  font-size: 38px;
  font-weight: 200;
  text-align: center;
  margin: 0px 0px 80px 0px;
  padding: 80px 0 20px 0;
}
.linked_box {
  padding: 25px;
}

.linked_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.linked_item {
  margin: 0px 20px;
  text-align: center;
  width: 250px;
  height: 100px;
}

.linked_img {
  height: 50px;
  object-fit: cover;
  width: 150px;
  padding: 10px;
  background-color: white;
}

.linked_item:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}

.linked_img:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 1px 4.5px black;
  transition: all 0.5s;
}
