@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.portfolio {
  background-color: #e4f2ff;
  padding-bottom: 100px;
  padding-top: 5px;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.portfolio_label {
  font-family: "Paytone One", sans-serif;
  font-size: 38px;
  font-weight: 200;
  text-align: center;
  margin: 90px 0 50px 0;
  color: #000000;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
  .item_1 {
    grid-column: 1 / span 2;
  }
  .item_1 h1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.card_article {
  padding: 20px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}
.card_thumb_one {
  background-image: url("../../image/my_info.png");
}
.card_thumb_two {
  background-image: url("../../image/runner8.png");
}
.card_thumb_two strong {
  margin-top: 30px;
}
.card_thumb_three {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);
}
.card_thumb {
  padding-bottom: 60%;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
}

.card_text {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

/* typography */
.card_title {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card_cat {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
