@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.marquee {
  height: 470px;
  perspective: 1000px;
  /* background-image: url("/image/background.png"); */
}

.info {
  position: absolute;
  z-index: 10;
  font-size: 35px;
  top: 40%;
  left: 40%;
  font-family: "Paytone One", sans-serif;
  color: rgb(46, 46, 46);
}
.profile_box {
  display: flex;
  /* padding-left: 170px; */
  position: relative;
  padding: 50px 0px;
  padding-left: 80px;
  box-shadow: 0 4px 4px -4px black;
}

.profile_img {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  margin-right: 80px;
  align-items: center;
}

.text_box {
  border-radius: 10%;
  background-color: whitesmoke;
  width: auto;
  height: 100%;
  font-size: 25px;
}

.lang_box {
  margin-right: 10px;
  height: 50%;
}

.lang_list {
  background-color: white;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}
.lang_item {
  width: 100px;
  line-height: 60px;
  height: 60px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 2px 2px 1px black;
}

.lang_item:hover {
  background-color: white;
  transition: all 0.5s;
}

@media (max-width: 700px) {
  .profile_box {
    padding-bottom: 100px;
  }
}

@media (max-width: 620px) {
  .profile_box {
    padding-bottom: 150px;
  }
}

@media (max-width: 570px) {
  .profile_box {
    padding-bottom: 220px;
  }
}

@media (max-width: 510px) {
  .profile_box {
    padding-bottom: 320px;
  }
}
