@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.marquee {
  height: 470px;
  perspective: 1000px;
}

.info {
  position: absolute;
  z-index: 10;
  font-size: 35px;
  top: 30%;
  left: 38%;
  text-align: center;
  font-family: "Paytone One", sans-serif;
  padding: 10px;
  background-color: rgba(30, 255, 0, 0.4);
}

.info_more {
  top: 50%;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.view_description {
  position: absolute;
  z-index: 10;
  font-family: "Paytone One", sans-serif;
  color: black;
  opacity: 70%;
  font-size: 13px;
  right: 2%;
  top: 96%;
}

.baro {
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 46%;
  font-size: 15px;
  font-family: "Paytone One", sans-serif;
  text-align: center;
  width: 170px;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.4);
}
.baro_text {
  margin-bottom: 5px;
}
.baro_img {
  position: absolute;
  z-index: 10;
  top: 55%;
  left: 35%;
  width: 50px;
  height: 50px;
  background-image: url("../../image/arrow.gif");
  background-size: cover;
}

/* .baro_img {
} */

.bg_circle {
  height: 300px;
  box-shadow: 0 2px 2px 1px black;
  position: "absolute";
  top: "10%";
  z-index: -1;
}

.profile_box {
  display: flex;
  /* padding-left: 170px; */
  position: relative;
  padding: 50px 0px;
  padding-left: 80px;
  box-shadow: 0 1px 1px 3px black;
}

.profile_img {
  width: 250px;
  height: 250px;
  border-radius: 30%;
  margin-right: 80px;
  align-items: center;
}

.text_box {
  border-radius: 10%;
  background-color: whitesmoke;
  width: auto;
  height: 100%;
  font-size: 25px;
}

@media (max-width: 950px) {
  .info {
    font-size: 32px;
    left: 32%;
  }

  .baro {
    left: 47%;
  }
}

@media (max-width: 700px) {
  .info {
    font-size: 30px;
    top: 27%;
    left: 30%;
  }
}

@media (max-width: 620px) {
  .info {
    font-size: 25px;
    top: 27%;
    left: 25%;
  }
}

@media (max-width: 570px) {
  .profile_box {
    padding-bottom: 220px;
  }
}

@media (max-width: 510px) {
  .profile_box {
    padding-bottom: 320px;
  }
}
