.navbar_brand_identity {
  font-size: 8px;
  color: #000;
  font-weight: bold;
}

.navbar_list_btn {
  background-color: transparent;
  border: 0px;
}

.navbar_list_btn_img {
  width: 100%;
}
.nav_link {
  text-decoration-line: none;
  color: rgb(51, 51, 51);
  margin-left: 20px;
  font-size: 15px;
  padding: 5px;
}
.nav_link:hover {
  background-color: rgba(236, 236, 236, 0.928);
  border-radius: 15%;
  color: black;
  opacity: calc(90%);
  transition: all 0.5s;
}

.modal_lebel {
  margin-top: 50px;
}

.modal_area {
  width: 100%;
  height: 7em;
  border: 1px solid rgb(207, 207, 207);
  resize: none;
}
.manage_login_key {
  background-color: transparent;
  margin-left: 20px;
  border: transparent;
}
.manage_login_key :hover {
  background-color: gray;
  border-radius: 50%;
  transition: all 0.5s;
}

.login_modal {
  align-items: center;
  background: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  box-shadow: 8px 8px 0 rgb(0 0 0 / 20%);
  display: inline-flex;
  flex-direction: column;
  font-size: 18px;
  left: 50%;
  padding: 1.2rem 3rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}
.login_label {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  margin-top: 0;
}
.login_btn {
  background: #fff;
  border: 3px solid #000;
  box-shadow: 0 0 0 #000;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin-right: 2.6rem;
  padding: 0.3rem 3.4rem;
  height: 40px;
  transition: all 0.2s;
}
.login_input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 20px;
}

.login_btn:last-child {
  margin: 0;
}

.login_btn:hover {
  box-shadow: 0.4rem 0.4rem 0 black;
  transform: translate(-0.4rem, -0.4rem);
}

.login_btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.login_options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
