.navbar_brand_identity {
  font-size: 8px;
  color: #000;
  font-weight: bold;
}

.navbar_list_btn {
  background-color: transparent;
  border: 0px;
}

.navbar_list_btn_img {
  width: 100%;
}
.nav_link {
  text-decoration-line: none;
  color: black;
  margin-left: 20px;
  font-size: 15px;
}
.nav_link:hover {
  border-bottom: 2px solid #000;
  color: black;
}

.modal_lebel {
  margin-top: 50px;
}

.modal_area {
  width: 100%;
  height: 7em;
  border: 1px solid rgb(207, 207, 207);
  resize: none;
}
.manage_login_key :hover {
  background-color: gray;
  border-radius: 50%;
  transition: all 0.5s;
}
