.navbar_brand_identity {
  font-size: 8px;
  color: #00ed64;
  font-weight: bold;
}

.navbar_list_btn {
  background-color: transparent;
  border: 0px;
}

.navbar_list_btn_img {
  width: 100%;
}

.nav_item:hover {
  background-color: #00ed64;
}
